################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/My Project
/obj/Debug
/SMachine.v12.suo
